@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
}
.parent
{   position: relative;
    width: 100%;
    height: 120vh;
    display: flex;
    background-image: url(../images/image-header.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    object-fit: cover;

}
.nav
{
    width: 100%;
    height: 10%;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
    display: flex;
    justify-content:space-evenly ;
}
.nav li{
    margin: 0px 30px;
    padding-top: 20px;
    font-size: 20px; 
    font-weight: bold;
}
.vv
{
    background-color: white;
    border-radius: 50px;
    color: black;
    padding: 20px;
}
.left
{
    font-size:30px;
    margin-left: 30px;
}
.heading
{
    color: white;
    position: absolute;
    width: 100%;
    height: 70vh;
    top: 20%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: "DM Serif Display", serif;
    padding-top: 20px;
    letter-spacing: 8px;
}
.heading img
{
    width: 100px;
    height: 100px;
    padding-top: 50px;
}
.gallery
{
position: relative;
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(3,1fr);
}
.child img
{
width: 100%;
height:100%;
object-fit: cover;
}
.child0
{
    padding: 150px 140px;
    font-weight: 40px;
}
h2
{
    font-size: 50px;
    padding-bottom: 40px;
}
h3{
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: 50px;
    font-size: 30px;
    font-family: "Archivo Black", sans-serif;
}
.child1
{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.child1 img
{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.text
{
    position: absolute;
    top: 60%;
    text-align: center;
    margin: 20px 150px;
    font-size: 20px;

}
.text h3{
    font-size: 30px;
}
.foot
{
    width: 100%;
    position:relative;
    display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(1,1fr);
}

.imm img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testhead
{
    text-align: center;
    opacity: .5;
    letter-spacing: 4px;
}
.profile
{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}
.card
{
    width: 100%;
    height: 60vh;
    padding: 10px 50px;
    margin: 50px;

}
.card img
{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 30px 0px;
}
.card h3
{
    margin-top: 30px;
}
.card h5{
    opacity: .5;
}
.card h4{
    font-size: 20px;
    padding-right: 30px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 20px;
    font-weight: normal;
}
.footer
{
text-align: center;
background-color: rgb(91, 251, 243);
opacity: .5;
color: rgb(0, 0, 0);
}
.footer ul
{
    display: flex;
    justify-content: center;
}
.footer li
{
    margin:20px  30px;
}
.feet li{
    margin: 20px 20px;
}
.feet img{
    width:20px;
    height: 20px;
}
